.head_container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.head_container>h1{
    color:cornflowerblue;
}
.navbar{
    display:flex;
    flex-direction: row;
     color:cornflowerblue;
     gap:20px;

}

.btn{
    background-color: red;
    color: white;
    padding:5px;
    border: red;
}

.pizza_container>img{
    width:80px;
    height:80px;
}
.pizza_container{
    display:flex;
    flex-direction: column;
    padding:10px;
    gap:1px;
    align-items: center;
    background-color: red;

}

.grid_container{
    display:grid;
    grid-template-columns: repeat(3,minmax(200px,250px));
    width:90%;
    margin:30px auto;
    justify-content: center;
    gap:5px;

}
.pizza_container>h3{
    color:white;
    margin-bottom: 5px;
}
.pizza_container>p{
    color:white;
    margin-top: 0;    

}
.pizza_container> .btn1{
    color:red;
    background-color: white;
    border: none;  
    padding:5px;
}