body{
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 80%;
    margin: 50px auto;
}

.card{
    background: white;
    border-radius: 12px;
    padding-bottom: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
}

.card img{
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.card h3{
    margin: 12px 0 5px;
    font-size: 17px;
}

.card p{
    font-size: 13px;
    color: gray;
    margin-bottom: 12px;
}

.card .logo{
    width: 80px;
    margin-top: 5px;
}
