*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
    margin: 20px 0;
}

.calc{
    width: 250px;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.display{
    grid-column: span 4;
    height: 40px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: right;
    font-size: 20px;
}

.btn{
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
    background-color: white;
}

.operator{
    background-color: black;
    color: white;
}

.cancel{
    background-color: red;
    color: white;
}
