*{
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.grid{
    width: 90%;
    display: flex;
    flex-wrap: wrap;   
    gap: 25px;
    justify-content: center;
}

.grid img{
    width: 110px;       
    height: 110px;
    padding: 18px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);  
    object-fit: contain;
}
