body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

.wrapper {
    width: 90%;
    margin: 40px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.card h3 {
    display: inline-block;
    font-size: 18px;
}

.card .price {
    float: right;
    font-weight: bold;
    color: goldenrod;
}

.card p {
    font-size: 14px;
    color: gray;
    margin-top: 12px;
}

@media (max-width: 900px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}
